#app {
  max-width: 850px;
  margin: 0 auto;
}

#header {
  margin-bottom: 50px;
}

nav {
  padding: 20px 0 20px 0;
}

body {
  background-color: #313437;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
label,
div,
thead,
th {
  color: #eeeeee;
  border-top: 0px;
}

td a {
  color: #333333;
}

table {
  border-collapse: separate;
  border-spacing: 2px 0;
  background-color: #313437;
}

tbody tr:hover {
  background-color: #eac48a;
}

th {
  text-align: center;
}

.table td,
.table th {
  border-top: none;
}

.table thead th {
  border-bottom: none;
}

a:hover {
  color: #eeeeee;
}

th {
  background-color: #4f4f4f;
}

tr:nth-child(odd) {
  background-color: #eeeeee;
}
tr:nth-child(even) {
  background-color: #bebaba;
}

tbody tr:hover a {
  color: #333333;
}

.switchCol {
  vertical-align: middle;
  text-align: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4f4f4f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #d58915;
}

input:focus + .slider {
  box-shadow: 0 0 1px #d58915;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn-save {
  float: right;
  background-color: #d58915;
  border: none;
}

.btn-save:hover {
  background-color: #eac48a;
  border: none;
}
