#app {
  max-width: 850px;
  margin: 0 auto;
}

#header {
  margin-bottom: 50px;
}

nav {
  padding: 20px 0 20px 0;
}

body {
  background-color: #313437;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
label,
div,
thead,
th {
  color: #eeeeee;
  border-top: 0px;
}

td a {
  color: #333333;
}

table {
  border-collapse: separate;
  border-spacing: 2px 0;
  background-color: #313437;
}

tbody tr:hover {
  background-color: #eac48a;
}

th {
  text-align: center;
}

.table td,
.table th {
  border-top: none;
}

.table thead th {
  border-bottom: none;
}

a:hover {
  color: #eeeeee;
}

th {
  background-color: #4f4f4f;
}

tr:nth-child(odd) {
  background-color: #eeeeee;
}
tr:nth-child(even) {
  background-color: #bebaba;
}

tbody tr:hover a {
  color: #333333;
}

.switchCol {
  vertical-align: middle;
  text-align: center;
}

.btn-save {
  float: right;
  background-color: #d58915;
  border: none;
}

.btn-save:hover {
  background-color: #eac48a;
  border: none;
}

.btn-save {
  float: right;
  background-color: #d58915;
  border: none;
}

.btn-save:hover {
  background-color: #eac48a;
  border: none;
}
